@page "/courses"
@using BackOffice.Data

@attribute [StreamRendering]

<PageTitle>Courses</PageTitle>

<h3>Courses</h3>
<NavLink class="nav-link" href="/courses/create">Create new course</NavLink>

@if (courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var course in courses)
    {
        <div class="grid-item">
            @if (course.IsBestseller)
            {
                <div>Best Seller</div>
            }
            <a data-courseid="@course.Id" data-bs-toggle="tooltip" data-bs-title="Save Course"><i class="fa-regular fa-bookmark"></i></a>
            <img src="@course.ImageUri" alt="Image of @course.Title">
            <a href="/courses">
                <div>
                    <h5>@course.Title</h5>

                    <p>By @string.Join(", ", course.Authors!.Select(a => a.Name))</p>

                    @if (course.Prices != null)
                    {
                        @if (course.Prices.Discount > 0)
                        {
                            <p>
                                @course.Prices.Currency @course.Prices.Discount
                                <del>@course.Prices.Currency @course.Prices.Price</del>
                            </p>
                        }
                        else
                        {
                            <p class="price">@course.Prices.Currency @course.Prices.Price</p>
                        }
                    }
                    <div class="clock">
                        <i class="fa-regular fa-clock"></i>
                        <p>@course.Hours hours</p>
                        <div class="thumbs-up">
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>@course.LikesInProcent (@course.Likes)</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
}

@code {
    private IEnumerable<CourseCardModel>? courses;

    protected override async Task OnInitializedAsync()
    {
        courses = await CourseService.GetCoursesAsync();
    }


}